.m-form {
    svg {
        height: var(--f1);
        margin: auto;
        width: var(--f1);
    }
}

.m-form {
    form {
        align-items: center;
        display: grid;
        gap: var(--f7);
        grid-template-columns: auto 1fr;
        margin-bottom: var(--f5);
        transition: margin-bottom 1s;

        input {
            &:first-of-type {
                border: none;
                cursor: pointer;
                font-size: var(--f5);

                &:active {
                    scale: 0.9;
                }
            }

            &:last-of-type {
                border-radius: var(--f8);
                font-size: var(--f6);
                padding: var(--f8) var(--f7);
                width: 100%;

                &:focus {
                    outline: 1px solid;
                }
            }
        }
    }

    &__card {
        margin-bottom: var(--f6);

        &:last-of-type {
            margin-bottom: 0;
        }

        h4 {
            color: var(--c5);
        }

        p {
            font-weight: bold;
        }

        a {
            color: var(--c4);
            display: block;
            font-style: italic;
            line-height: 1.5;
            width: fit-content;
        }
    }
}

@media screen and (max-width: 768px) {
    .m-form {
        svg {
            height: var(--f2);
            width: var(--f2);
        }

        form {
            margin-bottom: var(--f7);
        }

        &__card {
            margin-bottom: var(--f7);
        }
    }
}