---
import defaultPost from '@/assets/images/default_post.webp';

const { author, image, pubDate } = Astro.props;
---

<section class="m-content">
    <p class="m-content__top">{pubDate.toLocaleDateString()} &nbsp;&mdash;&nbsp; {author}</p>
    <slot />

    <img
        alt={image.src ? image.alt : 'A default image of a compass.'}
        loading="lazy"
        src={image.src ?? defaultPost.src}
    />
</section>

<style lang="scss">
    .m-content {
        &__top {
            opacity: 0.75;
        }

        img {
            margin-top: var(--f6);
            max-height: 1000px;
            max-width: min(1000px, 100%);
        }
    }
</style>
