---
import { Image } from 'astro:assets';

import fallback from '@/assets/images/post_fallback.webp';

const { author, image, pubDate } = Astro.props;
---

<section class="m-content">
    <p>{pubDate.toLocaleDateString()} &nbsp;&mdash;&nbsp; {author}</p>
    <slot />

    <Image
        alt={image.src ? image.alt : 'Fallback image of a compass.'}
        decoding="async"
        inferSize
        loading="lazy"
        src={image.src ?? fallback}
    />
</section>

<style lang="scss">
    p {
        opacity: 0.8;
    }

    img {
        height: 100%;
        margin-top: var(--f6);
        max-height: 1000px;
        max-width: min(1000px, 100%);
    }
</style>
