---
import Counter from '@/components/Counter';
import Social from '@/components/Social.astro';
import SunMoon from '@/assets/icons/SunMoon.svg';
---

<footer>
    <Counter client:only="react" transition:persist>
        <p slot="fallback"></p>
    </Counter>

    <div>
        <Social domain="github" handle="withastro" />
        <Social domain="youtube" handle="astrodotbuild" />
        <Social domain="twitter" handle="astrodotbuild" />
        <SunMoon title="Toggle theme" />
    </div>
</footer>

<style lang="scss">
    footer {
        align-items: center;
        border-top: 2px solid;
        display: flex;
        justify-content: space-between;
        padding: var(--f7);
    }

    div {
        align-items: center;
        display: flex;
        gap: var(--f7);
    }

    @media screen and (max-width: 480px) {
        footer {
            justify-content: center;
        }
    }
</style>

<script>
    import { counter, user } from '@/store';

    document.addEventListener('astro:page-load', () => {
        document.querySelector('footer svg')?.addEventListener('click', () => {
            counter.set(counter.get() + 1);
            user.setKey('theme', user.get().theme === 'light' ? 'dark' : 'light');
        });
    });
</script>
