---
import Hamburger from '../components/Hamburger.astro';
---

<nav>
    <Hamburger />
    <a class="link" href="/">Home</a>
    <a class="link" href="/about">About</a>
    <a class="link" href="/blog">Blog</a>
    <a class="link" href="/react">React</a>
</nav>

<style>
    nav {
        display: flex;
    }

    nav a {
        font-size: 1.2rem;
        font-weight: bold;
        padding: 10px 20px;
        text-decoration: none;
        text-transform: uppercase;
    }

    nav a:hover,
    nav a:focus {
        background-color: #ff9776;
    }

    @media screen and (max-width: 768px) {
        nav {
            align-items: center;
            flex-direction: column;
        }

        nav a {
            display: none;
            padding: 15px 20px;
        }

        nav a.expanded {
            display: block;
        }
    }
</style>
