---
import Main from '@/layouts/Main.astro';

const posts = Object.values(import.meta.glob('./post/*.md', { eager: true }));
const tags = [...new Set(posts.map((e: any) => e.frontmatter.tags).flat())].sort();
---

<Main description="Index of blog posts." title="Blog">
    <main>
        <section>
            <h4>TAGS</h4>
            {tags.map(e => <a href={`/blog/${e}`}>{e.toUpperCase()}</a>)}
        </section>

        <section>
            <h4>POSTS</h4>
            {posts.map((e: any) => <a href={e.url}>{e.frontmatter.title}</a>)}
        </section>
    </main>
</Main>

<style lang="scss">
    @use '@/styles/_root' as *;

    @include section-blog;
</style>
