---
import { getCollection } from 'astro:content';

import Main from '@/layouts/Main.astro';

const posts = await getCollection('posts');
posts.sort((a: Post, b: Post) => a.id.localeCompare(b.id));
const tags = [...new Set(posts.map((e: Post) => e.data.categories).flat())].sort();
const pages = Array.from({ length: Math.floor(posts.length / 10) }, (_, i) => i);
---

<Main description="Index of blog posts." title="Blog">
    <section>
        <h4>TAGS</h4>
        {tags.map(e => <a href={`/blog/${e}`}>{(e as string).toUpperCase()}</a>)}
    </section>

    <section>
        <h4>POSTS</h4>

        {
            pages.map(e => (
                <a href={`/blog/${e + 1}`}>
                    {10 * e + 1}&ndash;{10 * e + 10}
                </a>
            ))
        }
    </section>
</Main>

<style lang="scss">
    @use '@/styles/_root' as *;

    @include section-menu;
</style>
