---
import { getCollection } from 'astro:content';

import Main from '@/layouts/Main.astro';

const posts = (await getCollection('posts')).sort((a: any, b: any) => a.id - b.id);
const tags = [...new Set(posts.map((e: any) => e.data.categories).flat())].sort();
const pages = Array.from({ length: Math.floor(posts.length / 10) }, (_, i) => i);
---

<Main description="Index of all blog posts." title="Blog">
    <section>
        <h4>TAGS</h4>
        {tags.map((e: any) => <a href={`/blog/${e}`}>{e.toUpperCase()}</a>)}
    </section>

    <section>
        <h4>POSTS</h4>

        {
            pages.map(e => (
                <a href={`/blog/${e + 1}`}>
                    {10 * e + 1}&ndash;{10 * e + 10}
                </a>
            ))
        }
    </section>
</Main>

<style lang="scss">
    @use '@/styles/_root' as *;

    @include section-blog;
</style>
