.form {
    padding: var(--f5);

    form {
        align-items: center;
        display: grid;
        gap: var(--f7);
        grid-template-columns: auto 1fr;
        margin-bottom: var(--f5);

        label {
            color: var(--c3);
            font-size: var(--f5);
        }

        input {
            border-radius: var(--f8);
            font-size: var(--f6);
            padding: var(--f8) var(--f7);

            &:focus {
                border-color: var(--c3);
            }
        }
    }

    div {
        margin-bottom: var(--f6);

        &:last-of-type {
            margin-bottom: 0;
        }

        h4 {
            color: var(--c5);
        }

        p {
            font-weight: bold;
        }

        a {
            color: var(--c4);
            display: block;
            font-style: italic;
            line-height: 1.5;
            width: fit-content;
        }
    }
}

@media screen and (max-width: 480px) {
    .form {
        form {
            grid-template-columns: auto;

            label {
                display: none;
            }

            input {
                width: 100%;
            }
        }
    }
}