<section class="hamburger">
    <span></span>
    <span></span>
    <span></span>
</section>

<style lang="scss">
    section {
        cursor: pointer;
        display: none;
        width: fit-content;

        &:hover {
            span {
                height: calc(var(--f9) + 2px);
            }
        }
    }

    span {
        background: var(--c3);
        display: block;
        height: var(--f9);
        margin: var(--f9);
        transition: height 200ms;
        width: var(--f5);
    }

    @media screen and (max-width: 768px) {
        section {
            display: block;
        }
    }
</style>

<script>
    document.querySelector('.hamburger')?.addEventListener('click', () => {
        for (const e of document.querySelectorAll('nav section a')) {
            e.classList.toggle('open');
        }
    });
</script>
