---
const { domain, handle } = Astro.props;
---

<a class="social" href={`https://${domain}.com/${handle}`} target="_blank">
    {domain.toUpperCase()}
</a>

<style lang="scss">
    @use '@/styles/_root.scss' as *;

    .social {
        color: $c6;

        &:visited {
            color: $c6;
        }

        &:hover {
            color: $c5;
        }
    }
</style>
