@use '_root' as *;
@use 'sass:color';

.m-content {
    > * {
        margin-bottom: var(--f8);

        &:last-child {
            margin-bottom: 0;
        }
    }

    h6 {
        &:not(:first-child) {
            margin-top: var(--f6);
        }
    }

    code {
        background: color.adjust($c1, $lightness: -10%);
    }
}