.m-content {
    > * {
        margin-bottom: var(--f8);

        &:last-child {
            margin-bottom: 0;
        }
    }

    h6 {
        &:not(:first-child) {
            margin-top: var(--f6);
        }
    }

    code {
        text-decoration: underline;
    }
}