:root {
    --c1: #fdf0d5;
    --c2: #780000;
    --c3: #c1121f;
    --c4: #003049;
    --c5: #669bbc;
    --f1: 287.07px;
    --f2: 177.42px;
    --f3: 109.66px;
    --f4: 67.77px;
    --f5: 41.89px;
    --f6: 25.89px;
    --f7: 16.00px;
    --f8: 9.89px;
    --f9: 6.11px;
}

* {
    transition-duration: 200ms;
    transition-property: color, font-size, gap, height, margin, opacity, padding, scale, width;
}

a {
    color: var(--c4);

    &:visited {
        color: var(--c4);
    }

    &:hover {
        color: var(--c5);
    }
}

body {
    background: var(--c1);
    font-family: 'sf pro display', 'helvetica neue', sans-serif;
}

h1 {
    font-size: var(--f1);
}

h2 {
    font-size: var(--f2);
}

h3 {
    font-size: var(--f3);
}

h4 {
    font-size: var(--f4);
}

h5 {
    font-size: var(--f5);
}

h6 {
    font-size: var(--f6);
}

main {
    padding: var(--f5);

    section {
        margin-bottom: var(--f5);

        &:last-child {
            margin-bottom: 0;
        }
    }
}

svg {
    color: var(--c4);
    cursor: pointer;

    &:hover {
        color: var(--c5);
    }
}

[data-theme='dark'] {
    --c1: #d5e2fd;
    --c2: #007878;
    --c3: #12c1b4;
    --c4: #491900;
    --c5: #bc8766;
}