@media screen and (min-width: 2560px) {}

@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
    h1 {
        font-size: var(--f2);
    }

    h2 {
        font-size: var(--f3);
    }

    h3 {
        font-size: var(--f4);
    }

    h4 {
        font-size: var(--f5);
    }

    h5 {
        font-size: var(--f6);
    }

    h6 {
        font-size: var(--f7);
    }

    main {
        padding: var(--f6);

        section {
            margin-bottom: var(--f6);
        }
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: var(--f3);
    }

    h2 {
        font-size: var(--f4);
    }

    h3 {
        font-size: var(--f5);
    }

    h4 {
        font-size: var(--f6);
    }

    h5 {
        font-size: var(--f7);
    }
}

@media screen and (max-width: 300px) {}

@media screen and (orientation: landscape) {}

@media (prefers-color-scheme: light) {
    :root {
        --c1: #d5e2fd;
        --c2: #007878;
        --c3: #12c1b4;
        --c4: #491900;
        --c5: #bc8766;
    }
}

@media (prefers-color-scheme: dark) {}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}