---
import Display from '@/layouts/Main.astro';

export const prerender = true;

export function getStaticPaths() {
    const posts = Object.values(import.meta.glob('../blog/*.md', { eager: true }));
    const tags = [...new Set(posts.map((post: any) => post.frontmatter.tags).flat())];

    return tags.map(tag => {
        const filteredPosts = posts.filter((post: any) => post.frontmatter.tags.includes(tag));
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Display title={tag}>
    <p>Posts tagged with {Astro.params.tag.toUpperCase()}</p>

    <ul>
        {
            posts.map((e: any) => (
                <li>
                    <a href={e.url}>{e.frontmatter.title}</a>
                </li>
            ))
        }
    </ul>
</Display>
