---
import Display from '@/layouts/Main.astro';

const posts = Object.values(import.meta.glob('../blog/*.md', { eager: true }));
const tags = [...new Set(posts.map((post: any) => post.frontmatter.tags).flat())];
---

<Display title="Tag Index">
    {
        tags.map(e => (
            <p>
                <a href={`/tags/${e}`}>{e}</a>
            </p>
        ))
    }
</Display>

<style>
    a {
        color: #00539f;
    }

    div {
        display: flex;
        flex-wrap: wrap;
    }

    p {
        background: #f8fcfd;
        border: dotted 1px #a1a1a1;
        border-radius: 0.5em;
        font-size: 1.15em;
        margin: 0.25em;
        padding: 0.5em 1em;
    }
</style>
