---
import Main from '@/layouts/Main.astro';
---

<Main description="Page not found." title="404">
    <main>
        <section>
            <h1>404</h1>
        </section>
    </main>
</Main>

<style lang="scss">
    @use '@/styles/_root' as *;

    main {
        @include h1;
    }
</style>
