---
import Main from '@/layouts/Main.astro';
---

<Main description="Page not found." title="404">
    <section>
        <h1>404</h1>
    </section>
</Main>

<style lang="scss">
    @use '@/styles/_root' as *;

    @include h1;
</style>
