---
import Main from '@/layouts/Main.astro';
---

<Main description="Server error." title="500">
    <section>
        <h1>500</h1>
    </section>
</Main>

<style lang="scss">
    @use '@/styles/_root' as *;

    @include h1;
</style>
