---
import Main from '@/layouts/Main.astro';
---

<Main description="Server error." title="500">
    <main>
        <h1>500</h1>
    </main>
</Main>

<style lang="scss">
    @use '@/styles/_root' as *;

    main {
        @include h1;
    }
</style>
