---
import Display from '@/layouts/Main.astro';

const posts = Object.values(import.meta.glob('./blog/*.md', { eager: true }));
---

<Display title="Blog">
    <main id="blog">
        <h1>My Astro Learning Blog</h1>
        <p>This is where I will post about my journey learning Astro.</p>

        <ul>
            {
                posts.map((e: any) => (
                    <li>
                        <a href={e.url}>{e.frontmatter.title}</a>
                    </li>
                ))
            }
        </ul>
    </main>
</Display>
