---
import Display from '../layouts/Display.astro';
---

<Display title="Blog">
    <main id="blog">
        <h1>My Astro Learning Blog</h1>
        <p>This is where I will post about my journey learning Astro.</p>

        <ul>
            <li>
                <a href="/blog/post-1">Post 1</a>
            </li>

            <li>
                <a href="/blog/post-2">Post 2</a>
            </li>

            <li>
                <a href="/blog/post-3">Post 3</a>
            </li>
        </ul>
    </main>
</Display>
