---
import Main from '@/layouts/Main.astro';
---

<Main description="Welcome to my first Astro site." title="Astro">
    <section>
        <h1>Hello Astro</h1>
    </section>
</Main>

<style lang="scss">
    @use '@/styles/_root' as *;

    @include h1;
</style>
