---
import Main from '@/layouts/Main.astro';
---

<Main description="Welcome to my first Astro website." title="Home">
    <main>
        <section>
            <h1>Hello Astro</h1>
        </section>
    </main>
</Main>

<style lang="scss">
    @use '@/styles/_root' as *;

    main {
        @include h1;
    }
</style>
