---
import Main from '@/layouts/Main.astro';
---

<Main description="Welcome to my first Astro website." title="Astro">
    <section>
        <h1 class:list={['animate__animated', 'animate__flipInY']}>Hello Astro</h1>
    </section>
</Main>

<style lang="scss">
    @use '@/styles/_root' as *;

    @include h1;
</style>
