---
import Main from '@/layouts/Main.astro';
---

<Main description="Welcome to my first Astro website!" title="Home">
    <main>
        <h1 class="header">Hello Astro</h1>
    </main>
</Main>

<style lang="scss">
    @use '@/styles/_root.scss' as *;

    .header {
        color: $c3;
        padding: $f2;
        text-align: center;
    }
</style>
