---
import Form from '@/components/react/Form';
import Main from '@/layouts/Main.astro';
---

<Main description="Demo of reactivity with fetching." title="React">
    <main>
        <Form client:load />
    </main>
</Main>
