---
import Form from '@/modules/Form';
import Main from '@/layouts/Main.astro';
---

<Main description="Demo of reactive fetching." title="React">
    <main>
        <Form client:only="react" />
    </main>
</Main>
