---
import Gallery from '@/modules/Gallery.astro';
import Main from '@/layouts/Main.astro';

export const prerender = false;
---

<Main description="Demo of server-side rendering." title="Server">
    <Gallery />
</Main>
