---
import Main from '@/layouts/Main.astro';

export const prerender = false;
---

<Main description="" title="Test">
    <section class:list={['underline', 'uppercase']}>
        <p>Test</p>
    </section>
</Main>
