---
import Main from '@/layouts/Main.astro';

export const prerender = false;
---

<Main description="Developer sandbox." title="Test">
    <section class:list={['underline', 'uppercase']}>
        <p>Tailwind</p>
    </section>
</Main>
