---
import Main from '@/layouts/Main.astro';
---

<Main description="Developer sandbox." title="Test">
    <section class:list={['font-bold', 'underline', 'uppercase']}>
        <p>Test</p>
    </section>
</Main>
