---
import Hamburger from '@/components/astro/Hamburger.astro';
---

<nav>
    <Hamburger />

    <section>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/react">React</a>
        <a href="/geo">Geo</a>
    </section>
</nav>

<style lang="scss">
    nav {
        border-bottom: 2px solid;
        display: flex;
        flex-direction: column;
        padding: var(--f7);
    }

    section {
        display: flex;
        gap: var(--f7);
        justify-content: center;

        a {
            font-size: var(--f6);

            &:hover {
                color: var(--c4);
                text-decoration: underline;
            }
        }
    }

    @media screen and (max-width: 768px) {
        section {
            flex-direction: column;
            gap: 0;

            a {
                display: none;
                padding: var(--f9);
                text-align: center;

                &.open {
                    display: inline;
                }

                &:hover {
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }
    }
</style>
