<div aria-label="toggle navbar" class="c-hamburger">
    <span></span>
    <span></span>
    <span></span>
</div>

<style lang="scss">
    .c-hamburger {
        cursor: pointer;
        display: none;
        width: fit-content;

        &:hover {
            opacity: 0.8;
        }
    }

    span {
        background: var(--c2);
        display: block;
        height: var(--f9);
        margin: var(--f9);
        width: var(--f5);
    }

    @media screen and (max-width: 768px) {
        .c-hamburger {
            display: block;
        }
    }
</style>

<script>
    document.querySelector('.c-hamburger')?.addEventListener('click', () => {
        for (const e of document.querySelectorAll('nav div a')) {
            e.classList.toggle('open');
        }
    });
</script>
