<div class="hamburger">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
</div>

<style>
    div {
        align-content: center;
        cursor: pointer;
        display: none;
        margin-right: 20px;
    }

    div span {
        background: #ff9776;
        display: block;
        height: 5px;
        margin: 10px 0;
        width: 40px;
    }

    @media screen and (max-width: 768px) {
        div {
            display: block;
            margin-right: 0;
        }
    }
</style>
