---
const { domain, handle } = Astro.props;
---

<a class="c-social" href={`https://${domain}.com/${handle}`} target="_blank">{domain}</a>

<style lang="scss">
    .c-social {
        text-transform: uppercase;
    }
</style>
