---
import Navbar from '@/modules/astro/Navbar.astro';

import '@/styles/rectify.scss';
import '@/styles/index.scss';
import '@/styles/media.scss';
import '@/styles/keyframes.scss';

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en-us">
    <head>
        <title>{title}</title>
        <meta charset="utf-8" />
        <meta content="ie=edge" http-equiv="x-ua-compatible" />
        <meta content="Kevin Huang" name="author" />
        <meta content={description} name="description" />
        <meta content="index, follow" name="robots" />
        <meta content="white" name="theme-color" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link href="/favicon.svg" rel="icon" type="image/x-icon" />
        <link href="https://fonts.googleapis.com" rel="preconnect" />
        <link crossorigin href="https://fonts.gstatic.com" rel="preconnect" />
        <link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet" />
    </head>

    <body>
        <Navbar />
        <slot />
    </body>
</html>

<style lang="scss">
    body {
        background: var(--c1);
        font-family: 'SF Pro Display', 'Helvetica Neue', sans-serif;
    }
</style>
