---
import Footer from '../modules/Footer.astro';
import Navbar from '../modules/Navbar.astro';

import '../styles/main.css';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en-US">
    <head>
        <title>{title}</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="Kevin Huang" />
        <meta name="description" content="Astro demo" />
        <meta name="robots" content="index, follow" />
        <meta name="theme-color" content="#000000" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/x-icon" href="/public/favicon.svg" />
    </head>

    <body>
        <Navbar />
        <slot />
        <Footer />
    </body>
</html>

<script>
    import '../functions/main.ts';
</script>
