---
import Footer from '../modules/Footer.astro';
import Navbar from '../modules/Navbar.astro';

import '../styles/main.css';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en-US">
    <head>
        <title>{title}</title>
        <meta charset="UTF-8" />
        <meta content="IE=edge" http-equiv="X-UA-Compatible" />
        <meta content="Kevin Huang" name="author" />
        <meta content="Astro demo" name="description" />
        <meta content="index, follow" name="robots" />
        <meta content="#000000" name="theme-color" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <link href="/favicon.svg" rel="icon" type="image/x-icon" />
    </head>

    <body>
        <Navbar />
        <slot />
        <Footer />
    </body>
</html>

<script>
    import '../functions/main.ts';
</script>
