---
import Footer from '@/modules/Footer.astro';
import Root from '@/layouts/_Root.astro';

const { description, title } = Astro.props;
---

<Root description={description} title={title}>
    <main>
        <slot />
    </main>
    <Footer />
</Root>
